/* pop-up while creating a room */
.create-fixed-popup-div {
  width: 100vw;
  height: 100vh;
  background-color: rgba(252, 244, 244, 0.521);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.create-fixed-popup-div .visible-popup-div {
  padding: 3vh 4vw;
  -webkit-box-shadow: 0 0 10px rgb(66, 66, 66);
  box-shadow: 0 0 10px rgb(85, 85, 85);
  width: 40vw;
  height: 40vh;
  background-color: rgb(255, 255, 255);
}
.create-fixed-popup-div .close-popup-btn {
  cursor: pointer;
}
