.dashboard-top-head {
  background-color: #2b2bf7de;
  padding: 4em 0 8em 0;
  margin-bottom: -6em;
}
.dashboard-top-head .row {
  align-items: inherit;
}
.dashboard-head-item-card .content {
  font-size: 24px;
  font-weight: 600;
  color: rgb(119 106 106);
}
.dashboard-head-item-card {
  height: 100%;
}
